@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lighter-green: hsl(148, 38%, 91%);
  --medium-green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey500: hsl(186, 15%, 59%);
  --grey900: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  color: var(--grey900);
  font-size: 1rem;
  background-color: var(--lighter-green);
  width: 100vw;
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: var(--white);
  border-radius: 1.25rem;
  color: var(--grey900);
  width: 46.25rem;
  max-width: 90vw;
  margin-top: 7.5rem;
  padding: 2.5rem 2.375rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

input {
  border: 0.0625rem solid var(--grey500);
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

input:hover {
  border: 0.0625rem solid var(--medium-green);
}

input:focus {
  outline: none;
  border: 0.1rem solid var(--medium-green);
}

span {
  color: var(--medium-green);
  margin-left: 0.375rem;
  font-size: 0.875rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9375rem;
}

.item {
  display: flex;
  flex-direction: column;
}

small {
  color: var(--red);
  opacity: 0;
}

.first-last,
.query {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-text {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 0.0625rem solid var(--grey500);
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.input-text:hover {
  border: 0.0625rem solid var(--medium-green);
}

.input-text:focus {
  outline: none;
  border: 0.1rem solid var(--medium-green);
}
.input-text:active {
  outline: none;
  border: 0.1rem solid var(--medium-green);
}

input[type="radio"] {
  display: none;
}

#support-label {
  opacity: 0;
}

.radio-btn {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid hsl(186, 15%, 80%);
  border-radius: 6.25rem;
  cursor: pointer;
}

.radiomark {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("./assets/images/icon-radio-selected.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0.1563rem;
  left: 0.1563rem;
  opacity: 0;
}

textarea {
  border: 0.0625rem solid var(--grey500);
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  height: 6.25rem;
  padding: 1rem;
  font-family: "Karla", sans-serif;
  color: var(--grey900);
  font-size: 1rem;
}

textarea:focus {
  outline: none;
  border: 0.1rem solid var(--medium-green);
}

input[type="checkbox"] {
  display: none;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid var(--grey500);
}

.checked {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/images/icon-checkbox-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: -0.0625rem;
  left: -0.1rem;
}

.hidden {
  display: none;
}

.check-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.consent {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--medium-green);
  color: var(--lighter-green);
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 1.125rem;
  cursor: pointer;
  margin-top: 2rem;
}

button:hover {
  background-color: hsl(169, 82%, 14%);
  transition: all 0.3s ease-in;
}

.thanks {
  width: 25rem;
  background-color: hsla(169, 82%, 8%, 0.9);
  color: var(--lighter-green);
  border-radius: 0.625rem;
  padding: 1.5rem;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 5rem;
  left: 50%;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(19, 27, 24, 0.2);
  display: none;
}

.thanks-text {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 1rem;
}

.msg-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer {
  margin: 1.5rem 0 2rem 0;
}

/* responsive */

@media (max-width: 600px) {
  .first-last,
  .query {
    grid-template-columns: 1fr;
  }
  .query {
    gap: 0.375rem;
  }
  form {
    margin-top: 1.5rem;
    padding: 2rem 1.5rem;
  }
  textarea {
    height: 12.5rem;
  }
  .thanks {
    width: 100vw;
  }
}
